body{
	background-color: #444444;
}
#iphone{
	border: white medium solid;
	width: 1200px;
	height: auto;

	font-size: 55px;
}
#signal{
	color: white;
	padding: 7px 0 0 16px;
}
#input{
	text-align: center;
	margin: 120px auto;
}
#input span{
	width: 120px;
	height: 100px;
	border: white medium solid;
	margin: 30px 30px;
	border-radius: 45px;
}
#panel{
	overflow: hidden;
	width: 1066px;
	margin: auto;
}
.number{
	position: relative;
	float: left;

	font-size: 100px;
	text-align: center;
	width: 250px;
	height: 250px;
	line-height: 250px;
	margin: 50px 40px;
	color: white;
	border: white medium solid;
	border-radius: 125px;
}
#footer{
	width: 800px;
	margin: 100px auto;
	color: white;
	font-size: 70px;
	overflow: hidden;
}
#call{
	position: relative;
	float: left;
}
#delete{
	position: relative;
	float: right;
}