body{
	background-color: #444444;
}
#iphone{
	border: white medium solid;
	width: 360px;
	height: auto;

	font-size: 16px;
}
#signal{
	color: white;
	padding: 2px 0 0 5px;
}
#input{
	text-align: center;
	margin: 40px auto;
}
#input span{
	width: 30px;
	height: 30px;
	border: white medium solid;
	margin: 20px 20px;
	border-radius: 15px;
}
#panel{
	overflow: hidden;
	width: 320px;
	margin: auto;
}
.number{
	position: relative;
	float: left;

	font-size: 30px;
	text-align: center;
	width: 80px;
	height: 80px;
	line-height: 80px;
	margin: 16px 10px;
	color: white;
	border: white medium solid;
	border-radius: 40px;
}
#footer{
	width: 240px;
	margin: 30px auto;
	color: white;
	font-size: 20px;
	overflow: hidden;
}
#call{
	position: relative;
	float: left;
}
#delete{
	position: relative;
	float: right;
}